.itg-bg-color {
    &-white {
        background-color: var(--color-white) !important;
    }

    &-gray-70 {
        background-color: var(--color-gray-70) !important;
    }

    &-gray-60 {
        background-color: var(--color-gray-60) !important;
    }

    &-gray-50 {
        background-color: var(--color-gray-50) !important;
    }

    &-gray-40 {
        background-color: var(--color-gray-40) !important;
    }

    &-gray-30 {
        background-color: var(--color-gray-30) !important;
    }

    &-gray-20 {
        background-color: var(--color-gray-20) !important;
    }

    &-gray-10 {
        background-color: var(--color-gray-10) !important;
    }

    &-blue-90 {
        background-color: var(--color-blue-90) !important;
    }

    &-blue-80 {
        background-color: var(--color-blue-80) !important;
    }

    &-blue-60 {
        background-color: var(--color-blue-60) !important;
    }

    &-blue-50 {
        background-color: var(--color-blue-50) !important;
    }

    &-blue-30 {
        background-color: var(--color-blue-30) !important;
    }

    &-blue-20 {
        background-color: var(--color-blue-20) !important;
    }

    &-red-80 {
        background-color: var(--color-red-80) !important;
    }

    &-red-70 {
        background-color: var(--color-red-70) !important;
    }

    &-red-60 {
        background-color: var(--color-red-60) !important;
    }

    &-green-70 {
        background-color: var(--color-green-70) !important;
    }
}