.itg-layout-sticky-container 
    aside.layout-sidebar
        .itg-button.itg-button-primary.itg-button-xs.sidebar-close.itg-toggle-btn-sidebar &times;
        .scroll-bar
        .layout-sidebar__box
            .itg-layout-portlet-desktop
                h2.itg-typography-heading-20.itg-mrg-b-4.itg-text-color-blue-60 Patrimonio total
                .itg-dpy-block.itg-mrg-b-6
                    p.itg-typography-caption-12.itg-mrg-b-1 Total cartera valorizada
                    .itg-box-s-1.itg-box-center
                        p.itg-typography-subheading-24.itg-mrg-b-0 #[span.itg-typography-caption-12 USD] #[span 42,562.57]
                        button.itg-button.itg-button-invisible.itg-button-i-only.itg-mrg-s-1
                            span.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'renew')
                .itg-tabs.itg-tabs-pills#tabs1
                    ul.tab-buttons
                        li.navigation-tab-item
                            button.tab-button.navigation-link.active(data-tab="tabType1") Por tipo de activo
                        li.navigation-tab-item
                            button.tab-button.navigation-link(data-tab="tabType2") Por moneda
                    .tab-content
                        .tab-pane.active#tabType1
                            .itg-dpy-block.itg-mrg-b-3
                                .itg-box-s-1.itg-box-center
                                    .box__info
                                        h2.itg-box-s-1.itg-box-center.itg-typography-heading-16.itg-mrg-b-0.itg-text-color-gray-70 
                                            span.icon.svg--inline-icon.itg-mrg-e-2: svg: use(xlink:href=iconPath+'portfolio')
                                            | Por Tipo de Activo
                                    .itg-tooltips.itg-tooltips--bottom-right
                                        span.tooltip-trigger.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'information-filled')
                                        .tooltip-content Este es el texto del tooltip

                            table.itg-table.itg-mrg-b-4
                                thead
                                    tr 
                                        th Descripción
                                        th.itg-text-align-right Dólares (USD)
                                        th.itg-text-align-right Soles (PEN)
                                tbody
                                    tr 
                                        td.itg-text-ws-nowrap 
                                            a.itg-tab-btn-external.active(href="#", data-target="tab1", data-tabs-id="tabs2") Renta Variable
                                            .info__information.itg-tooltips.itg-tooltips--bottom-left
                                                span.tooltip-trigger.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'information-filled')
                                                .tooltip-content Totaliza el monto invertido como Reportante.
                                        td.itg-text-align-right 14,320.67
                                        td.itg-text-align-right 8,930.23
                                    tr 
                                        td.itg-text-ws-nowrap 
                                            a.itg-tab-btn-external(href="#", data-target="tab2", data-tabs-id="tabs2") Renta Fija
                                        td.itg-text-align-right 5,673.00
                                        td.itg-text-align-right 0.00
                                    tr 
                                        td.itg-text-ws-nowrap Efectivo
                                        td.itg-text-align-right 10,950.00
                                        td.itg-text-align-right 0.00
                                tfoot 
                                    tr
                                        td.itg-text-color-blue-60 Total
                                        td.itg-text-align-right.itg-text-color-blue-60 30,943.67
                                        td.itg-text-align-right.itg-text-color-blue-60 8,930.23

                            .itg-dpy-block.itg-mrg-b-3
                                .itg-box-s-1.itg-box-center
                                    .box__info
                                        h2.itg-box-s-1.itg-box-center.itg-typography-heading-16.itg-mrg-b-0.itg-text-color-gray-70 
                                            span.icon.svg--inline-icon.itg-mrg-e-2: svg: use(xlink:href=iconPath+'chart-bar-target')
                                            | Participación %
                                    .itg-tooltips.itg-tooltips--bottom-right
                                        span.tooltip-trigger.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'information-filled')
                                        .tooltip-content Este es el texto del tooltip

                            table.itg-table.itg-mrg-b-4
                                tr
                                    td.itg-text-ws-nowrap Renta Variable
                                    td 
                                        .itg-bar#bar1
                                            .itg-fill
                                    td 
                                        span.itg-percentage#percentage1 0%
                                tr
                                    td.itg-text-ws-nowrap Renta Fija
                                    td 
                                        .itg-bar#bar2
                                            .itg-fill
                                    td 
                                        span.itg-percentage#percentage2 0%
                                tr
                                    td.itg-text-ws-nowrap Op. de Reporte
                                    td 
                                        .itg-bar#bar3
                                            .itg-fill
                                    td 
                                        span.itg-percentage#percentage3 0%
                                tr
                                    td.itg-text-ws-nowrap Fondos Mutuos
                                    td 
                                        .itg-bar#bar4
                                            .itg-fill
                                    td 
                                        span.itg-percentage#percentage4 0%
                                tr
                                    td.itg-text-ws-nowrap Efectivo
                                    td 
                                        .itg-bar#bar5
                                            .itg-fill
                                    td 
                                        .itg-percentage#percentage5 0%
                        .tab-pane#tabType2
                            .itg-dpy-block.itg-mrg-b-3
                                .itg-box-s-1.itg-box-center
                                    .box__info
                                        h2.itg-box-s-1.itg-box-center.itg-typography-heading-16.itg-mrg-b-0.itg-text-color-gray-70 
                                            span.icon.svg--inline-icon.itg-mrg-e-2: svg: use(xlink:href=iconPath+'portfolio')
                                            | Por moneda
                                    .itg-tooltips.itg-tooltips--bottom-right
                                        span.tooltip-trigger.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'information-filled')
                                        .tooltip-content Este es el texto del tooltip

                            table.itg-table.itg-mrg-b-4
                                thead
                                    tr 
                                        th Descripción
                                        th.itg-text-align-right Dólares (USD)
                                        th.itg-text-align-right Soles (PEN)
                                tbody
                                    tr 
                                        td.itg-text-ws-nowrap Dólares USD
                                        td.itg-text-align-right 14,320.67
                                        td.itg-text-align-right 8,930.23
                                    tr 
                                        td.itg-text-ws-nowrap Soles PEN
                                        td.itg-text-align-right 5,673.00
                                        td.itg-text-align-right 0.00
                                tfoot 
                                    tr
                                        td.itg-text-color-blue-60 Total
                                        td.itg-text-align-right.itg-text-color-blue-60 19,993.67
                                        td.itg-text-align-right.itg-text-color-blue-60 8,930.23

                            .itg-dpy-block.itg-mrg-b-3
                                .itg-box-s-1.itg-box-center
                                    .box__info
                                        h2.itg-box-s-1.itg-box-center.itg-typography-heading-16.itg-mrg-b-0.itg-text-color-gray-70 
                                            span.icon.svg--inline-icon.itg-mrg-e-2: svg: use(xlink:href=iconPath+'chart-bar-target')
                                            | Participación %
                                    .itg-tooltips.itg-tooltips--bottom-right
                                        span.tooltip-trigger.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'information-filled')
                                        .tooltip-content Este es el texto del tooltip

                            table.itg-table.itg-mrg-b-4
                                tr
                                    td.itg-text-ws-nowrap Dólares USD
                                    td 
                                        .itg-bar#bar1
                                            .itg-fill
                                    td 
                                        span.itg-percentage#percentage1 0%
                                tr
                                    td.itg-text-ws-nowrap Soles PEN
                                    td 
                                        .itg-bar#bar2
                                            .itg-fill
                                    td 
                                        span.itg-percentage#percentage2 0%

            .itg-layout-portlet-mobile.itg-shadow-sm
                .itg-dpy-block.pdg-4
                    h2.itg-typography-heading-24.itg-mrg-b-0.itg-text-color-blue-60 Patrimonio total
                    .itg-box-s-1.itg-box-center.itg-mrg-b-0
                        p.itg-typography-heading-40.itg-mrg-b-0 #[span.itg-typography-body-16 USD] #[span.itg-text-color-blue-60 42,562.57]
                        button.itg-button.itg-button-invisible.itg-button-i-only.itg-mrg-s-1
                            span.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'renew')
                    p.itg-typography-heading-18.itg-mrg-b-0 Total cartera valorizada
                
                .itg-tabs.itg-tabs-pills#tabsMob1
                    ul.tab-buttons.pdg-4.itg-mrg-b-0
                        li.navigation-tab-item
                            button.tab-button.navigation-link.active(data-tab="tabMobType1") Por tipo de activo
                        li.navigation-tab-item
                            button.tab-button.navigation-link(data-tab="tabMobType2") Por moneda
                    
                    .tab-content
                        .tab-pane.active#tabMobType1
                            .itg-dpy-block.itg-mrg-b-2
                                .itg-box-s-1.itg-box-center.pdg-4
                                    .box__info
                                        h2.itg-box-s-1.itg-box-center.itg-typography-heading-24.itg-mrg-b-0.itg-text-color-gray-70 
                                            span.icon.svg--inline-icon.itg-mrg-e-2: svg: use(xlink:href=iconPath+'portfolio')
                                            | Por Tipo de Activo
                                    .itg-tooltips.itg-tooltips--bottom-right.itg-typography-heading-24
                                        span.tooltip-trigger.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'information-filled')
                                        .tooltip-content Totaliza el monto invertido como Reportante.
                                
                            table.itg-table.itg-mrg-b-4
                                thead
                                    tr 
                                        th Descripción
                                        th.itg-text-align-right Dólares (USD)
                                        th.itg-text-align-right Soles (PEN)
                                tbody
                                    tr 
                                        td.itg-text-ws-nowrap 
                                            a.link-color-gray-70(href="posicion-desagregada.html") Renta Variable
                                        td.itg-text-align-right 14,320.67
                                        td.itg-text-align-right 8,930.23
                                    tr 
                                        td.itg-text-ws-nowrap 
                                            a.link-color-gray-70(href="posicion-desagregada.html") Renta Fija
                                        td.itg-text-align-right 5,673.00
                                        td.itg-text-align-right 0.00
                                    tr 
                                        td.itg-text-ws-nowrap Efectivo
                                        td.itg-text-align-right 10,950.00
                                        td.itg-text-align-right 0.00
                                tfoot 
                                    tr
                                        td.itg-text-color-blue-60 Total
                                        td.itg-text-align-right.itg-text-color-blue-60 30,943.67
                                        td.itg-text-align-right.itg-text-color-blue-60 8,930.23

                            .itg-dpy-block
                                .itg-box-s-1.itg-box-center.pdg-4
                                    .box__info
                                        h2.itg-box-s-1.itg-box-center.itg-typography-heading-24.itg-mrg-b-0.itg-text-color-gray-70 
                                            span.icon.svg--inline-icon.itg-mrg-e-2: svg: use(xlink:href=iconPath+'chart-bar-target')
                                            | Participación %
                                    .itg-tooltips.itg-tooltips--bottom-right.itg-typography-heading-24
                                        span.tooltip-trigger.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'information-filled')
                                        .tooltip-content Totaliza el monto invertido como Reportante.

                            table.itg-table.itg-table-pdg-sm
                                tr
                                    td.itg-text-ws-nowrap Dólares USD
                                    td 
                                        .itg-bar#bar1
                                            .itg-fill
                                    td 
                                        span.itg-percentage#percentage1 0%
                                tr
                                    td.itg-text-ws-nowrap Soles PEN
                                    td 
                                        .itg-bar#bar2
                                            .itg-fill
                                    td 
                                        span.itg-percentage#percentage2 0%

                            .itg-dpy-block.pdg-4.pdg-t-5.pdg-b-5
                                a.itg-button.itg-button-secondary.itg-button-md(href="posicion-desagregada.html") Ver tu posición desagregada

                        .tab-pane#tabMobType2
                            .itg-dpy-block.itg-mrg-b-3
                                .itg-box-s-1.itg-box-center.pdg-4
                                    .box__info
                                        h2.itg-box-s-1.itg-box-center.itg-typography-heading-24.itg-mrg-b-0.itg-text-color-gray-70 
                                            span.icon.svg--inline-icon.itg-mrg-e-2: svg: use(xlink:href=iconPath+'portfolio')
                                            | Por Moneda
                                    .itg-tooltips.itg-tooltips--bottom-right.itg-typography-heading-24
                                        span.tooltip-trigger.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'information-filled')
                                        .tooltip-content Totaliza el monto invertido como Reportante.
                            
                            table.itg-table.itg-mrg-b-4
                                thead
                                    tr 
                                        th Descripción
                                        th.itg-text-align-right Dólares (USD)
                                        th.itg-text-align-right Soles (PEN)
                                tbody
                                    tr 
                                        td.itg-text-ws-nowrap Dólares USD
                                        td.itg-text-align-right 14,320.67
                                        td.itg-text-align-right 8,930.23
                                    tr 
                                        td.itg-text-ws-nowrap Soles PEN
                                        td.itg-text-align-right 5,673.00
                                        td.itg-text-align-right 0.00
                                tfoot 
                                    tr
                                        td.itg-text-color-blue-60 Total
                                        td.itg-text-align-right.itg-text-color-blue-60 19,993.67
                                        td.itg-text-align-right.itg-text-color-blue-60 8,930.23
                            
                            .itg-dpy-block.itg-mrg-b-3
                                .itg-box-s-1.itg-box-center.pdg-4
                                    .box__info
                                        h2.itg-box-s-1.itg-box-center.itg-typography-heading-24.itg-mrg-b-0.itg-text-color-gray-70 
                                            span.icon.svg--inline-icon.itg-mrg-e-2: svg: use(xlink:href=iconPath+'chart-bar-target')
                                            | Participación %
                                    .itg-tooltips.itg-tooltips--bottom-right.itg-typography-heading-24
                                        span.tooltip-trigger.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'information-filled')
                                        .tooltip-content Totaliza el monto invertido como Reportante.

                            table.itg-table.itg-table-pdg-sm
                                tr
                                    td.itg-text-ws-nowrap Dólares USD
                                    td 
                                        .itg-bar#bar1
                                            .itg-fill
                                    td 
                                        span.itg-percentage#percentage1 0%
                                tr
                                    td.itg-text-ws-nowrap Soles PEN
                                    td 
                                        .itg-bar#bar2
                                            .itg-fill
                                    td 
                                        span.itg-percentage#percentage2 0%

                            .itg-dpy-block.pdg-4.pdg-t-5.pdg-b-5
                                a.itg-button.itg-button-secondary.itg-button-md(href="posicion-desagregada.html") Ver tu posición desagregada
                            
    .layout-main-content
        .layout-content
            .itg-layout-portlet-desktop
                .itg-box-s-2.itg-bg-color-gray-10
                    .itg-box-s-1.itg-box-end
                        .box__info
                            p.itg-typography-caption-12.itg-mrg-b-1 Efectivo disponible
                            .itg-box-s-1.itg-box-center
                                p.info__subheading.itg-typography-subheading-24.itg-mrg-b-0 #[span.itg-typography-caption-12 USD] #[span 10,950.00] #[span.itg-typography-caption-12 + PEN] #[span 0.00]
                                button.itg-button.itg-button-invisible.itg-button-i-only.itg-mrg-s-1
                                    span.icon.svg--inline-icon: svg: use(xlink:href=iconPath+'renew')
                        a(href="#").itg-button.itg-button-primary.itg-button-xs Operar en bolsa
                        a(href="#").itg-button.itg-button-secondary.itg-button-xs.itg-mrg-s-2 Depositar
                .layout-grid-d
                    .itg-box-s-3
                        .itg-box-s-1.itg-box-center.itg-mrg-b-2
                            .box__info
                                h2.itg-typography-heading-20.itg-mrg-b-0.itg-text-color-blue-60 Posición desagregada
                            .itg-dropdown
                                button.itg-button.itg-button-secondary.itg-button-xs.itg-dropdown-toggle Estado de cuenta
                                    | 
                                    span.toggle-icon-dropdown.icon.svg--inline-icon.itg-mrg-s-1: svg: use(xlink:href=iconPath+'chevron-down')
                                ul.itg-dropdown-menu.itg-dropdown-align--end
                                    li.itg-dropdown-item: a.itg-dropdown-link(href="#") Julio 2024
                                    li.itg-dropdown-item: a.itg-dropdown-link(href="#") Junio 2024
                                    li.itg-dropdown-item: a.itg-dropdown-link(href="#") Mayo 2024
                                    li.itg-dropdown-item: a.itg-dropdown-link.itg-dropdown-link--icon.itg-text-color-blue-60(href="#") Ver todos tus EECC
                                        span.icon.svg--inline-icon.itg-mrg-x-left: svg: use(xlink:href=iconPath+'arrow-up-right')
                            
                        .itg-tabs.itg-tabs-underline#tabs2
                            ul.tab-buttons
                                li.navigation-tab-item
                                    button.tab-button.navigation-link.active(data-tab="tab1") Renta Variable
                                li.navigation-tab-item
                                    button.tab-button.navigation-link(data-tab="tab2") Renta Fija
                            .tab-content
                                .tab-pane.active#tab1
                                    .itg-accordion
                                        .accordion-item
                                            .accordion-header.itg-box-s-1.itg-box-center
                                                h3.box__info.itg-mrg-b-0  
                                                    //button.accordion-toggle.collapsed(data-toggle="collapse" data-target="#collapseOne") Acciones y ETFs en el mercado extranjero
                                                    button.accordion-toggle(data-toggle="collapse" data-target="#collapseOne") Acciones y ETFs en el mercado extranjero
                                                p.accordion-label-right.itg-typography-label-12.itg-mrg-b-0 Monto valorizado USD #[span.itg-typography-label-16.itg-text-color-blue-60 12,753.11]
                                            .accordion-body.collapse.show#collapseOne
                                                .itg-box-s-1.itg-box-end.itg-mrg-b-4
                                                    p.box__info.itg-typography-label-12.itg-mrg-b-0 El precio de mercado mostrado es #[span.itg-text-color-blue-60 a cierre de día anterior.]
                                                    p.itg-typography-label-12.itg-mrg-b-0 Monto valorizado USD #[span.itg-typography-label-16.itg-text-color-blue-60 12,753.11]
                                                .itg-table-responsive
                                                    table.itg-table.itg-table-border-round 
                                                        thead
                                                            tr 
                                                                th Símbolo
                                                                th Descripción
                                                                th Mercado
                                                                th Moneda
                                                                th.itg-text-align-right Cantidad #[br] Disponible
                                                                th.itg-text-align-right Precio de #[br] Mercado
                                                                th.itg-text-align-right Monto #[br] Invertido
                                                                th.itg-text-align-right Ganancia/ #[br] Pérdida
                                                                th.itg-text-align-right Valor de #[br] Mercado
                                                                th.itg-text-align-right V. de Mercado #[br] (USD)
                                                                th.itg-text-align-right Comprar/ #[br] Vender
                                                                th.itg-text-align-right Más
                                                        tbody
                                                            tr 
                                                                td 
                                                                    a.itg-text-link.itg-open-modal-btn(href="#" data-modal="modal1") AAL
                                                                td 
                                                                    span.itg-text-col-ellipsis AMERICAN AIRLINES
                                                                td NYSE
                                                                td USD
                                                                td.itg-text-align-right 30
                                                                td.itg-text-align-right 177.95
                                                                td.itg-text-align-right 5,337.75
                                                                td.itg-text-align-right
                                                                    span.itg-text-color-green-70 13,310
                                                                td.itg-text-align-right 4,810.20
                                                                td.itg-text-align-right 
                                                                    span.itg-text-color-blue-60 4,810.20
                                                                td.itg-text-align-right 
                                                                    a.itg-button.itg-button-buy(href="#") C
                                                                    |  
                                                                    a.itg-button.itg-button-sell(href="#") V
                                                                td.itg-text-align-right 
                                                                    button.itg-button.itg-button-invisible.itg-button-i-only.itg-open-modal-btn(data-modal="modal1") +
                                                            tr 
                                                                td 
                                                                    a.itg-text-link.itg-open-modal-btn(href="#" data-modal="modal1") APPL
                                                                td 
                                                                    span.itg-text-col-ellipsis APPLE INC
                                                                td NYSE
                                                                td USD
                                                                td.itg-text-align-right 1,000
                                                                td.itg-text-align-right 202.40
                                                                td.itg-text-align-right 2,024.90
                                                                td.itg-text-align-right
                                                                    span.itg-text-color-red-70 -527.55
                                                                td.itg-text-align-right 2,093.50
                                                                td.itg-text-align-right 
                                                                    span.itg-text-color-blue-60 2,093.50
                                                                td.itg-text-align-right 
                                                                    a.itg-button.itg-button-buy(href="#") C
                                                                    |  
                                                                    a.itg-button.itg-button-sell(href="#") V
                                                                td.itg-text-align-right 
                                                                    button.itg-button.itg-button-invisible.itg-button-i-only.itg-open-modal-btn(data-modal="modal1") +
                                                            tr 
                                                                td 
                                                                    a.itg-text-link.itg-open-modal-btn(href="#" data-modal="modal1") AMZN
                                                                td 
                                                                    span.itg-text-col-ellipsis AMAZON.COM
                                                                td NYSE
                                                                td USD
                                                                td.itg-text-align-right 65
                                                                td.itg-text-align-right 33.51
                                                                td.itg-text-align-right 2,181.08
                                                                td.itg-text-align-right 
                                                                    span.itg-text-color-green-70 68.60
                                                                td.itg-text-align-right 1,603.55
                                                                td.itg-text-align-right 
                                                                    span.itg-text-color-blue-60 1,603.55
                                                                td.itg-text-align-right 
                                                                    a.itg-button.itg-button-buy(href="#") C
                                                                    |  
                                                                    a.itg-button.itg-button-sell(href="#") V
                                                                td.itg-text-align-right 
                                                                    button.itg-button.itg-button-invisible.itg-button-i-only.itg-open-modal-btn(data-modal="modal1") +
                                                            tr 
                                                                td 
                                                                    a.itg-text-link.itg-open-modal-btn(href="#" data-modal="modal1") ADBE
                                                                td 
                                                                    span.itg-text-col-ellipsis ADOBE INC
                                                                td NYSE
                                                                td USD
                                                                td.itg-text-align-right 10
                                                                td.itg-text-align-right 213.36
                                                                td.itg-text-align-right 4,568.56
                                                                td.itg-text-align-right
                                                                    span.itg-text-color-red-70 -577.53
                                                                td.itg-text-align-right 1,213.30
                                                                td.itg-text-align-right 
                                                                    span.itg-text-color-blue-60 1,213.30
                                                                td.itg-text-align-right 
                                                                    a.itg-button.itg-button-buy(href="#") C
                                                                    |  
                                                                    a.itg-button.itg-button-sell(href="#") V
                                                                td.itg-text-align-right 
                                                                    button.itg-button.itg-button-invisible.itg-button-i-only.itg-open-modal-btn(data-modal="modal1") +
                                                            tr 
                                                                td 
                                                                    a.itg-text-link.itg-open-modal-btn(href="#" data-modal="modal1") ADBE
                                                                td 
                                                                    span.itg-text-col-ellipsis ADOBE INC
                                                                td NYSE
                                                                td USD
                                                                td.itg-text-align-right 1,000
                                                                td.itg-text-align-right 145.58
                                                                td.itg-text-align-right 1,556.78
                                                                td.itg-text-align-right 
                                                                    span.itg-text-color-green-70 10,390
                                                                td.itg-text-align-right 3,032.56
                                                                td.itg-text-align-right 
                                                                    span.itg-text-color-blue-60 3,032.56
                                                                td.itg-text-align-right 
                                                                    a.itg-button.itg-button-buy.disabled(href="#") -
                                                                    |  
                                                                    a.itg-button.itg-button-sell.disabled(href="#") -
                                                                td.itg-text-align-right 
                                                                    button.itg-button.itg-button-invisible.itg-button-i-only.itg-open-modal-btn(data-modal="modal1") +
                                                        tfoot 
                                                            tr
                                                                td(colspan="8") 5 de 10 símbolos mostrados
                                                                td.itg-text-align-right(colspan="4")
                                                                    a.itg-button.itg-button-invisible.itg-button-xs(href="#") Ver todos 

                                        .accordion-item
                                            .accordion-header.itg-box-s-1.itg-box-center
                                                h3.box__info.itg-mrg-b-0  
                                                    //button.accordion-toggle.collapsed(data-toggle="collapse" data-target="#collapseTwo") Acciones y ETFs en la Bolsa de Lima 
                                                    button.accordion-toggle(data-toggle="collapse" data-target="#collapseTwo") Acciones y ETFs en la Bolsa de Lima
                                                //p.accordion-label-right.itg-typography-label-12.itg-mrg-b-0 Monto valorizado USD #[span.itg-typography-label-16.itg-text-color-blue-60 3,963.01]
                                            .accordion-body.collapse.show#collapseTwo
                                                .itg-alert.itg-alert-light.itg-alert-icon-center.itg-mrg-b-0 
                                                    span.icon.svg--inline-icon.itg-mrg-e-1: svg: use(xlink:href=iconPath+'information-filled')
                                                    div Recuerda que también puedes invertir en la Bolsa de Lima.
                                                        | 
                                                        a.itg-button.itg-button-invisible.itg-button-xs(href="#") Operar en bolsa 
                                .tab-pane#tab2
                                    .itg-accordion
                                        .accordion-item
                                            .accordion-header.itg-box-s-1.itg-box-center
                                                h3.box__info.itg-mrg-b-0 
                                                    //button.accordion-toggle.collapsed(data-toggle="collapse" data-target="#collapseTwo") Acciones y ETFs en la Bolsa de Lima 
                                                    button.accordion-toggle(data-toggle="collapse" data-target="#collapse2One") Bonos
                                                p.accordion-label-right.itg-typography-label-12.itg-mrg-b-0 Monto valorizado USD #[span.itg-typography-label-16.itg-text-color-blue-60 3,963.01]
                                            .accordion-body.collapse.show#collapse2One
                                                .itg-box-s-1.itg-box-end.itg-mrg-b-4
                                                    p.box__info.itg-typography-label-12.itg-mrg-b-0 El precio de mercado mostrado es #[span.itg-text-color-blue-60 a cierre de día anterior.]
                                                    p.itg-typography-label-12.itg-mrg-b-0 Monto valorizado USD #[span.itg-typography-label-16.itg-text-color-blue-60 3,963.01]
                                                .itg-table-responsive
                                                    table.itg-table.itg-table-border-round 
                                                        thead
                                                            tr 
                                                                th Símbolo
                                                                th Mercado
                                                                th Moneda
                                                                th.itg-text-align-right Cantidad #[br] Disponible
                                                                th.itg-text-align-right Valor #[br] Nominal
                                                                th.itg-text-align-right Monto #[br] Invertido
                                                                th.itg-text-align-right Precio de #[br] Mercado
                                                                th.itg-text-align-right Ganancia/ #[br] Perdida
                                                                th.itg-text-align-right Valor de #[br] Mercado
                                                                th.itg-text-align-right V. de Mercado #[br] (USD)
                                                                th.itg-text-align-right Más
                                                        tbody
                                                            tr 
                                                                td 
                                                                    a.itg-text-link.itg-open-modal-btn(href="#" data-modal="modal1") BANBOOG 6 1/4
                                                                td NYSE
                                                                td USD
                                                                td.itg-text-align-right 30
                                                                td.itg-text-align-right 1,000.00
                                                                td.itg-text-align-right 29,970.00
                                                                td.itg-text-align-right 99.91
                                                                td.itg-text-align-right
                                                                    span.itg-text-color-green-70 3.90
                                                                td.itg-text-align-right 29,973.90
                                                                td.itg-text-align-right 
                                                                    span.itg-text-color-blue-60 29,973.90
                                                                td.itg-text-align-right 
                                                                    button.itg-button.itg-button-invisible.itg-button-i-only.itg-open-modal-btn(data-modal="modal1") +
            .itg-layout-portlet-mobile.itg-shadow-sm.itg-mrg-b-2
                .itg-box-s-3.itg-box-end.itg-bg-color-white
                    .box__info
                        p.itg-typography-body-16.itg-mrg-b-1 Efectivo disponible
                        .itg-box-s-1.itg-box-center
                            p.info__subheading.itg-typography-heading-18.itg-mrg-b-0 #[span.itg-typography-body-16 USD] #[span.itg-text-color-blue-60 10,950.00] #[span.itg-typography-body-16 + PEN] #[span.itg-text-color-blue-60 0.00]
                .itg-box-footer 
                    a.itg-button.itg-button-invisible.itg-button-full.itg-button-md(href="posicion-desagregada.html") Ver tu posición desagregada
                        span.icon.svg--inline-icon.itg-mrg-s-2: svg: use(xlink:href=iconPath+'chevron-right')


.itg-modal#modal1
    .itg-modal-dialog.itg-modal-dialog-centered.itg-modal-xl
        .itg-modal-content
            .itg-modal-header
                //h2.itg-modal-title.itg-typography-heading-20 What is modal?
                button.itg-modal-btn-close.itg-button.itg-button-invisible.itg-close-modal &times;
            .itg-modal-body
                p.itg-typography-heading-18.itg-mrg-b-2.itg-text-color-blue-60 American Airlines Group
                .itg-box-s-1.itg-box-end.itg-mrg-b-4
                    .box__info
                        ul.itg-list-group.itg-list-group-horizontal.itg-typography-caption-12
                            li.list-group-item NYSE
                            li.list-group-item Dólares Americanos USD
                            li.list-group-item Última transac. 12/05/2026
                    p.itg-typography-caption-12.itg-mrg-x-left.itg-mrg-b-0 Monto valorizado USD #[span.itg-typography-label-16.itg-text-color-blue-60 29,973.00]
                .itg-table-responsive
                    table.itg-table.itg-table-border-round 
                        thead
                            tr 
                                th.itg-text-align-right Cantidad #[br] Contable
                                th.itg-text-align-right Cantidad #[br] Disponible
                                th.itg-text-align-right Precio Prom. #[br] Compra
                                th.itg-text-align-right Monto #[br] Invertido
                                th.itg-text-align-right Precio de #[br] Mercado
                                th.itg-text-align-right Valor de #[br] Mercado
                                th.itg-text-align-right V. de Mercado #[br] (USD)
                                th.itg-text-align-right Ganancia/ #[br] Perdida
                                th.itg-text-align-right Rentabilidad #[br] %
                                th.itg-text-align-right Dividendos
                                th.itg-text-align-right % RV #[br] en USD
                        tbody
                            tr 
                                td.itg-text-align-right 1,000
                                td.itg-text-align-right 1,000
                                td.itg-text-align-right 213.31
                                td.itg-text-align-right 200,00.00
                                td.itg-text-align-right 213.31
                                td.itg-text-align-right 231.13
                                td.itg-text-align-right 
                                    span.itg-text-color-blue-60 213.10
                                td.itg-text-align-right
                                    span.itg-text-color-green-70 13.31
                                td.itg-text-align-right 13.310
                                td.itg-text-align-right 213.31
                                td.itg-text-align-right 213.31
                            
            //.itg-modal-footer
                //button.itg-button.itg-button-danger.itg-close-modal-btn Cerrar
                button.itg-button.itg-button-danger.itg-button-md Vender
                button.itg-button.itg-button-primary.itg-button-md.itg-mrg-s-2 Comprar