.container
    .display-flex
        .flex-1
            .table-responsive
                table.table 
                    thead
                        tr 
                            th Símbolo
                            th Mercado
                            th Moneda
                            th Símbolo
                            th Mercado
                            th Moneda
                            th Símbolo
                            th Mercado
                            th Moneda
                            th Símbolo
                            th Mercado
                            th Moneda
                            th Símbolo
                            th Mercado
                            th Moneda
                    tbody
                        tr 
                            td BANBOOG 6 1/4
                            td NYSE
                            td USD
                            td BANBOOG 6 1/4
                            td NYSE
                            td USD
                            td BANBOOG 6 1/4
                            td NYSE
                            td USD
                            td BANBOOG 6 1/4
                            td NYSE
                            td USD
                            td BANBOOG 6 1/4
                            td NYSE
                            td USD
                            td BANBOOG 6 1/4
                            td NYSE
                            td USD
            