header.itg-header 
    .header__top
        .top__return 
            a.itg-typography-heading-18.itg-link-color-blue-60(href="#", onclick="window.history.back();") 
                span.icon.svg--inline-icon.itg-mrg-e-2: svg: use(xlink:href=iconPath+'chevron-left')
                | Posición Desagregada
        .top__button-right
            a(href="#").itg-button.itg-button-invisible.itg-text-color-gray-70 Estado de cuenta
                span.icon.svg--inline-icon.itg-mrg-s-2: svg: use(xlink:href=iconPath+'download')