include ../structure/variables
doctype html
html(lang='es')
    head
        include ../structure/head

    body.body
        h1.visually--hidden Inteligo SAB
        include ../structure/header
        
        main(role="main")
            include ../includes/home-a
        include ../structure/footer

        include ../structure/scripts